@font-face {
    font-family: 'Harmonia Sans Pro';
    src: url('../font/Harmonia\ Sans\ W01\ Regular.ttf') format('opentype'); 
   
    font-weight: normal; /* Specify font weight */
}
.logoss{
  width: 300px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}
.button.topbar{
  background-color: transparent;
  border-radius: 50%;
}
#myVideo {
  position: fixed;
  right: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
}
#counter-container1 {
    font-family: 'Harmonia Sans Pro', sans-serif;
    position: absolute;
    bottom: 20px;
    left: 30%;
    transform: translateX(-50%);
    font-size: 110px;
    color: white;
    display: flex;
    align-items: center;
    bottom: 35px;
}

#counter1 {
    font-family: 'Harmonia Sans Pro', sans-serif;
    margin: 0 5px;
    font-size: 80px;
    color: white;
    display: flex;
    align-items: center; 
    left: 30%; 
}

#counter-container2 {
    font-family: 'Harmonia Sans Pro', sans-serif;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 110px;
    color: white;
    display: flex;
    align-items: center;
    bottom: 35px;
}

#counter2 {
    font-family: 'Harmonia Sans Pro', sans-serif;
    margin: 0 5px;
    font-size: 80px;
    color: white;
    display: flex;
    align-items: center; 
    left: 50%; 
}

#counter-container3 {
    font-family: 'Harmonia Sans Pro', sans-serif;
    position: absolute;
    bottom: 20px;
    left: 70%;
    transform: translateX(-50%);
    font-size: 110px;
    color: white;
    display: flex;
    align-items: center;
    bottom: 35px;
}

#counter3 {
    font-family: 'Harmonia Sans Pro', sans-serif;
    margin: 0 5px;
    font-size: 80px;
    color: white;
    display: flex;
    align-items: center; 
    left: 70%; 
}

#dollar-sign,
#m-sign,
#plus {
    font-family: 'Harmonia Sans Pro', sans-serif;
    left: 30%; 
    font-style: italic; /* Italic */
    font-size: 90px; 
    color: white;
}
#total-sales {
    font-family: 'Harmonia Sans Pro', sans-serif;
    font-style: italic; /* Italic */
    position: absolute;
    bottom: 25px; /* Adjust as needed */
    left: 30%; /* Center horizontally */
    transform: translateX(-50%);
    font-size: 30px; /* Adjust font size as needed */
    color: white; /* Text color */
}

#transactions
{
    font-family: 'Harmonia Sans Pro', sans-serif;
    font-style: italic; /* Italic */
    position: absolute;
    bottom: 25px; /* Adjust as needed */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%);
    font-size: 30px; /* Adjust font size as needed */
    color: white; /* Text color */
}

#years
{
    font-family: 'Harmonia Sans Pro', sans-serif;
    font-style: italic; /* Italic */
    position: absolute;
    bottom: 25px; /* Adjust as needed */
    left: 70%; /* Center horizontally */
    transform: translateX(-50%);
    font-size: 30px; /* Adjust font size as needed */
    color: white; /* Text color */
}
.h1header{
    font-size: 56px;
    font-weight: 600;
}
.h3header{
    font-size: 36px;
}
.leftcorner{
   padding-top: 100px;
}
.extrapad{
    padding-top: 160px;
}
.leftborder{
    padding-left:20px;
    border-left:3px solid white;
    opacity: 1;
   transition: opacity 0.3s ease-in-out;
}
/* .invisible {
    opacity: 0;
} */
.team{
    text-align: left;
}
.prof{
    width:100%;
    display: flex;
    justify-content: space-around;
}
.prof img{
    width:200px;
    border-radius: 50%;
}
.member img{
    width:100px;
}
.halfs{
    display: flex;
}
.meme{
    font-size: 15px;
}
.memes{
    font-size: 10px;
}
.memess{
    font-size: 12px;
}
.cardss{
    height: 250px;
    color: #000;
    border-top: 2px solid black;
    margin-top: 10px;
}
.cardsss{
    height: 200px;
    color: #000;
    margin-top: 10px;
    text-align: center;
}
.bgwhite{
    background-color: white;
}
.scrolly{
    height: 420px;
    overflow-y: scroll;
}
.scrollys{
    height: 300px;
    overflow-y: scroll;
}
.anime{
    color: #000;
    animation: title 5s ease-in-out alternate infinite !important;
}
.card{
    background-color: white;
    margin: 2rem;
    box-shadow:  1px 15px 10px #bebebe,
             -1px -15px 10px #ffffff;
     padding:o 2rem 2rem 2rem;
     border-radius: 10px;
     color: #000;
     animation: title 5s ease-in-out 1s alternate infinite;
     height: 200px;
}
.card-header{
    text-align: center;
    background-color: #000;
    color: white;
    padding: 1rem;
}
.card-body{
    padding: 10px;
}
.headerFooter{
    animation: title 5s ease-in-out 2s alternate infinite;
}
.butoon{
    display: flex;
}
.gocenter{
    justify-content: center;
    margin-top: 10px;
}

/* Small screen */
  @media only screen and (max-width: 1024px){
    #counter-container1{
    font-size: 10px;
    left: 20%;
    }
    #counter1, #dollar-sign, #m-sign, #counter2, #plus, #counter3{
        font-size: 30px;
    }
    #counter-container3{
        left: 80%;
    }
    #years{
        left: 80%;
        width: 45%;
    }
    #total-sales, #years, #transactions{
        font-size: 15px;
        bottom: 15px;
    }
    #total-sales{
        left: 20%;
    }
    .h1header{
        font-size: 40px;
    }
    /* .h1headers{
        font-size: 24px;
    }
    .span1{
        font-size: 20px;
    } */
    .h3header{
        font-size: 30px;
    }
    .leftcorner{
        padding-top: 30px;
    } 
    .extrapad{
        padding-top: 100px;
    }
    .halfs{
        display: block;
    }
    .topmarg{
        padding-top: 50px;
    }
  }
/* ipadview */
  @media only screen and (max-width: 768px){
    .logoss{
        width: 200px;
    }
    #counter-container1{
    font-size: 10px;
    left: 20%;
    }
    #counter1, #dollar-sign, #m-sign, #counter2, #plus, #counter3{
        font-size: 30px;
    }
    #counter-container3{
        left: 80%;
    }
    #years{
        left: 80%;
        width: 60%;
    }
    #total-sales, #years, #transactions{
        font-size: 15px;
        bottom: 15px;
    }
    #total-sales{
        left: 20%;
    }
    .h1header{
        font-size: 48px;
    }
    .intro1{
        background-image:none !important;
    }
    .leftcorner{
        padding-top: 0px;
    }
    .extrapad{
        padding-top: 0px;
    }
    .learn1{
        text-align: center;
        border-left: none;
        padding-left: 0px;
    }  
    .learn2{
        text-align: justify;
    }
    .learn3{
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }
/* large cp */
  @media only screen and (max-width: 425px){
    #total-sales, #years, #transactions{
        font-size: 12px;
        bottom: 15px;
    }
    .learn1{
        text-align: left;
    }
    .memes{
        font-size: 12px;
    }
  }
  @media only screen and (max-width: 375px){
    #over{
        font-size: 35px !important;
    }
  }


  /* animation */
  @keyframes title{
    0%{
        opacity:0;

    }
    40%, 100%{
        opacity:1;
    }
}